/* :root variables */
:root {
  /* Typography */
  --font-family: "system-ui", sans-serif;
  --max-width: 100%;
  --min-height: 100vh;
  --form-max-width: 400px;


  /* Color palette */
  --clr-primary: #007bff;
  --clr-secondary: #6c757d;
  --clr-success: #28a745;
  --clr-danger: #dc3545;
  --clr-warning: #ffc107;
  --clr-info: #17a2b8;
  --clr-light: #f8f9fa;
  --clr-dark: #343a40;
  --clr-white: #fff;

  /* Font sizes */
  --font-size-base: 10px;
  --font-size-xs: 1.2rem;
  --font-size-sm: 1.4rem;
  --font-size-md: 2.4rem;
  --font-size-lg: 2.8rem;
  --font-size-xl: 3.2rem;

  /* Spacing */
  --spacing-xs: 0.4rem;
  --spacing-sm: 0.8rem;
  --spacing-md: 1.2rem;
  --spacing-lg: 1.6rem;
  --spacing-xl: 2rem;

  /* Shadows */
  --shadow-sm: 0px 1px 3px rgba(0, 0, 0, 0.1);
  --shadow-md: 0px 4px 6px rgba(0, 0, 0, 0.1);
  --shadow-lg: 0px 10px 20px rgba(0, 0, 0, 0.2);

  /* Border radius */
  --radius-sm: 0.4rem;
  --radius-md: 0.8rem;
  --radius-lg: 1.2rem;
  --radius-xl: 1.6rem;
}

/* Basic HTML element setup */
html {
  scroll-behavior: smooth;
  line-height: 1.432;
  -webkit-text-size-adjust: 100%;
  font-size: var(--font-size-base);
}

body {
  font-family: var(--font-family);
  line-height: 1.5;
  color: #333;
  background-color: #fff;
}
